/*VARIAVEIS DE COR ETC*/
:root{
    --yellow-darker: #FFC400;
    --yellow-little-darker: #E0B604;
    --yellow-real-darker: #7C620D;
    --gray-color: #CCCCCC;
    --black-color: #000000;
    --font-content: "Plus Jakarta Sans", sans-serif;
    --font-subtitles: "Orbitron", sans-serif;
    --font-btn: "League Spartan", sans-serif;
}

/*CSS RESET*/
* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*COMEÇO SESSÃO HOME */
header {
    background-color: #000000;
    width: 100%;
    height: 100vh;
    background-image: url(/imgs/images/imagens_fundo/yellow-porsche-911-carrera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12%;
    background-color: rgba(55, 55, 55, 0.193);
    backdrop-filter: blur(10px);
}

.nav-right{
    height: 100%;
    display: flex;
    align-items: center;
    width: 450px;
    justify-content: center;
    margin-left: 30px;
}

.nav-right ul{
    display: flex;
    gap: 21px;
}

.nav-right ul li{
    list-style: none;
}

.nav-right ul li a{
    text-decoration: none;
    color: #fff;
    font-family: var(--font-content);
    font-size: 20px;
    transition: 0.7s ease;
}

.nav-right a:hover{
    color: var(--yellow-darker);
}

.nav-logo{
    height: 200px;
    width: 200px;
    position: relative;
    margin-bottom: 80px;
    margin-right: 100px;
}

.nav-logo a img{
   position: relative; 
   width: 200px;
   cursor: none;
}

.botoes-nav{
    display: flex;
    margin-right: 60px;
    width: 320px;
    justify-content: space-around;
    height: 40px;
}

.login-btn{
    border: 2px solid #fff;
    width: 140px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn a{
    text-decoration: none;
    color: #fff;
    font-family: var(--font-content);
    font-size: 18px;
}

.cadastro-btn{
    background-color: var(--yellow-darker);
    border-radius: 12px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro-btn a{
    text-decoration: none;
    color: var(--black-color);
    font-family: var(--font-content);
    font-size: 18px;
    font-weight: 1000;
}

.login-btn:hover .cadastro-btn:hover .search-btn:hover {
    cursor: pointer;
}

.content{
    height: 88vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.content .slogan{
    position: relative;
    top: 150px;
    left: 100px;
}

.content .slogan p{
    font-family: var(--font-subtitles);
    font-size: 50px;
    font-weight: 500;
    line-height: 100px;
}

.slogan #exclusivo{
    color: var(--yellow-darker);
}

.forms{
    background-color: rgba(0, 0, 0, 0.489);
    backdrop-filter: blur(10px);
    width: 800px;
    height: 150px;
    position: relative;
    top: 55%;
    border: 4px solid #fff;
    border-radius: 20px; 
}

.forms .forms-btn{
    display: flex;
    padding: 35px 50px;
    gap: 30px;
}

.forms .forms-btn .collum{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.collum label{
    color: var(--yellow-little-darker);
    font-family: var(--font-btn);
    font-size: 20px;
    font-weight: 500;
}

.collum .input-local{
    display: flex;
    width: 150px;
    height: 40px;
    align-items: center;
    position: relative;
}

.collum .input-calendar{
    display: flex;
    width: 150px;
    height: 40px;
    align-items: center;
    position: relative;
}

.input-local i{
    position: relative;
    right: 20px;
    color: var(--yellow-darker);
}

.input-calendar i{
    position: relative;
    right: 28px;
    color: var(--yellow-darker);
}

.collum input{
    width: 150px;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 0 5px;
    color:  #fff;
    outline: none;
}

.btn-forms{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-forms .search-btn{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-darker);
    width: 140px;
    height: 40px;
    border-radius: 10px;
}

.search-btn a{
    text-decoration: none;
    color: var(--black-color);
    font-family: var(--font-btn);
    font-size: 20px;
    font-weight: 500;
}

/*FIM SESSÃO HOME */

/*COMEÇO SESSÃO DIFERENCIAL*/
.sessão-diferencial{
    width: 100%;
    height: 100vh;
    background-color: black;
    text-align: center;
    padding: 40px 80px;
}


.diferencial-titulo, h2{
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
    color: var(--gray-color);
}

.diferenciais{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 100px;
}

.diferencial{
    max-width: 350px;
    margin: 0 60px;
}

.diferencial, img{
    width: 50%;
    margin-top: 40px;
}

.diferencial, h3{
    color: var(--yellow-little-darker);
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: var(--font-btn);
}

.diferencial, p{
    font-family: var(--font-content);
    font-size: 1rem;
    color: #ffff;
}

.read-more{
    font-family: var(--font-content);
    background-color: var(--black-color);
    border: 2px solid var(--yellow-darker);
    color: white;
    padding: 10px 50px;
    margin-bottom: 170px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease, color 0.3s ease;
    box-shadow: 0 0 30px var(--yellow-darker);
}

.read-more:hover {
    background-color: var(--yellow-darker);
    color: var(--black-color);
}
/*FIM SESSAO DIFERENCIAL*/

/*COMEÇO SESSÃO MARCAS*/
.sessão-marcas{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: var(--black-color);
    padding: 40px 50px;
}


.texto h1{
    color: transparent; 
    text-align: center;
    line-height: 70px;
    font-size: 50px;
    font-family: var(--font-subtitles); 
    background: linear-gradient(to right, #141414, #ffd000); 
    -webkit-background-clip: text; 
    background-clip: text; 
}

.texto h3{
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

aside {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.montadoras{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center; 
    box-sizing: border-box; 
    padding-top: 30px;
}

.primeira-linha{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 180px;
}

.segunda-linha{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 180px;
}

.aston{
    background-image: url(/imgs/images/imagens_logo/aston.png);
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ferrari{
    background-image: url(/imgs/images/imagens_logo/ferrari.png);
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.porsche{
    background-image: url(/imgs/images/imagens_logo/porsche.png);
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.pagani{
    background-image: url(/imgs/images/imagens_logo/pagani.png);
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.bugatti{
    background-image: url(/imgs/images/imagens_logo/bugatti.png);
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.lambo{
    background-image: url(/imgs/images/imagens_logo/lambo.png);
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.botao_container{
    display: flex;
    justify-content: center;
    margin-top: 40px; 
}
/*FIM SESSÃO MARCAS*/

.sessão-sobre_nos {
    width: 100%;
    height: 120vh;
    background-color: var(--black-color);
    text-align: center;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sessão-sobre_nos h1 {
    color: transparent; 
    text-align: center;
    line-height: 70px;
    font-size: 50px;
    font-family: var(--font-subtitles); 
    background: linear-gradient(to right, #141414, #ffd000); 
    -webkit-background-clip: text; 
    background-clip: text; 
    margin-bottom: 20px;
}

.sessão-sobre_nos .content1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Largura máxima para manter o layout proporcional */
    margin: 0 auto; /* Centraliza o conteúdo principal */
    gap: 20px; /* Espaço entre a imagem e o texto */
}

.sessão-sobre_nos #fundo_cinza {
    width: 477px;
    height: 244px;
    border-radius: 15px;
    background-color: #C3C3C3;
    position: relative; /* Permite a posição absoluta da imagem */
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessão-sobre_nos #fundo_cinza img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para cobrir o card */
    border-radius: 15px;
}

.sessão-sobre_nos .text {
    width: 60%;
    margin-top: 150px;
}

.sessão-sobre_nos .text h2,
.sessão-sobre_nos .text p {
    margin: 0 0 10px 0; /* Espaçamento entre os elementos de texto */
}


.sessão-sobre_nos .read-more {
    font-family: var(--font-content);
    background-color: var(--black-color);
    border: 2px solid var(--yellow-darker);
    color: white;
    padding: 10px 50px;
    margin-bottom: 170px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease, color 0.3s ease;
    box-shadow: 0 0 30px var(--yellow-darker);
}

.sessão-sobre_nos .read-more:hover {
    background-color: var(--yellow-darker);
    color: var(--black-color);
}

