/*Folha de estilo da homepage, as estilizações da home vem aqui*/
/*CSS resets*/
* {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #000;
    color: #949393;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    text-align: center;
}

.diferencial-titulo, h2#link{
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
    margin-top: 160px;
    /* margin-bottom: 5%; */
}

.diferenciais{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10%;
}

.diferencial{
    flex: 1;
    max-width: 350px;
    margin: 0 60px;
}

.diferencial, img{
    width: 50%;
    margin-top: 40px;
    /* margin-bottom: 20px; */
}

.diferencial, h3{
    color: #ffc400;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

h3#link{
    font-family: "League Spartan", sans-serif;
    
  }

.diferencial, p#link{
    font-family: "Plus Jakarta Sans", sans-serif;
}

.diferencial, p{
    font-size: 1rem;
    color: #ffff;
}

.read-more{
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: black;
    border: 2px solid #FFD700;
    color: white;
    padding: 10px 50px;
    margin-bottom: 170px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease, color 0.3s ease;
    box-shadow: 0 0 30px #FFD700;
}

.read-more:hover {
    background-color: #FFD700;
    color: black;
}