* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #000;
}


.redirect-button {
    position: absolute;
    top: 20px; /* Distância do topo da página */
    left: 20px; /* Distância da esquerda da página */
  }
  
  .redirect-button button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:#f0c14b;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .redirect-button button:hover {
    background-color: #e6b800;
  }

#fundo {
    width: 50%;
    height: 67%;
    background-color: aliceblue;
    margin-top: 8%;
    margin-left: 5%;
    border-radius: 40px;
}

#fundo img {
    width: 100%;
    -webkit-user-drag: none;
}

#texto {
    color: #fff;
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column; /* Organiza os itens em coluna */
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1%;
    right: 5%;
    text-align: center;
    margin-top: 120px;
}

#texto h1 {
    margin: 0;
    font-size: 60px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

#texto h1 .branco {
    color: #fff; /* Cor branca para "Porsche" */
}

#texto h1 .amarelo {
    color: #FFC400; /* Cor amarela para "911 GT3 RS" */
}


.buttons button {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    margin-top: 150px;
    width: 270px;
    font-size: 30px;
    font-family: "Orbitron", sans-serif;
    
}

#cta {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-family: "Orbitron", sans-serif;
    font-size: 30px;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 999;
    display:   
 none;
}

.hidden {
    display: none;
}

.close {
    position: absolute; /* Mantenha absolute */
    top: calc(100% - 20px); /* Posicione 20px abaixo do topo do pop-up */
    right: 10px; /* Mantenha o alinhamento à direita */
    cursor: pointer;
    display: block !important;
  }
#meuvideo{
    
        width: 1000px; 
        height: 300vh; 
        position: absolute;
        top: 10%;
        left: 10%;
        transform: translate(-50%, -50%);
      
}